<div class="btnperfil">
    <div class="btPerfil">
        <i class="bi bi-box-arrow-right iconsMenuBranco"></i>
    </div>
</div>

<div class="data coluna ">

    <div>
        <span class="dataGrupo">
            <span class="datames">Agosto</span>
            <span class="dataano">2023</span>
        </span>

        <span class="linha mt-2">
            <span class="block">
                <span class="circle blue">
                    <i class="bi bi-check"></i>
                </span>
                <span class="tinytext">
                    <b>5 </b>
                    <span class="lightGray">Ativo</span>
                </span>
            </span>
            <span class="block">
                <span class="circle orange">
                    <i class="bi bi-exclamation"></i>
                </span>
                <span class="tinytext">
                    <b>5 </b>
                    <span class="lightGray">Manuteção </span>
                </span>
            </span>
            <span class="block">
                <span class="circle red">
                    <i class="bi bi-x"></i>
                </span>
                <span class="tinytext">
                    <b>5 </b>
                    <span class="lightGray">Desativado</span>
                </span>
            </span>
        </span>

    </div>

</div>

<div class="conteudoperfil">
    <div class="dataPerfil coluna">
        <span class="titulo mt-3">
            Usuário
        </span>

        <span class="fotoPerfil mt-3">
            <i class="bi bi-person-circle"></i>
        </span>
        <span>
            <ul class="detalhes">
                <li><i class="bi bi-person-circle"></i> <b class="darkGray"> Nome:</b> Bruno Kingma</li>
                <li><i class="bi bi-envelope-at"></i><b class="darkGray"> Email:</b> brunokingma@gmail.com</li>
                <li><i class="bi bi-lock"></i><b class="darkGray"> Tipo de acesso:</b> Usuário</li>
                <li></li>
            </ul>
        </span>
       
        <div class="d-grid gap-2 col-9 mx-auto mt-2"> <hr>
            <button class="btn btn-success" type="button"  (click)="openDialog()"><i class="bi bi-people"></i> Controle de usuários</button>
            <button class="btn btn-secondary" type="button" (click)="openDialog()"><i class="bi bi-stack"></i> Controle de sistemas</button>
          </div>
    </div>
</div>

