<div class="btnperfil">
    <div class="btPerfil">
        <i class="bi bi-box-arrow-right iconsMenuBranco" (click)="logout()"></i>
    </div>
</div>

<div class="data coluna ">

    <div>
        <span class="dataGrupo">
            <span class="datames">{{mes}}</span>
            <span class="dataano">{{ano}}</span>
        </span>

        <span class="linha mt-2">
            <span class="block">
                <span class="circle blue">
                    <i class="bi bi-check"></i>
                </span>
                <span class="tinytext">
                    <b>{{ativo}}</b>
                    <span class="lightGray"> Ativo </span>
                </span>
            </span>
            <span class="block">
                <span class="circle orange">
                    <i class="bi bi-exclamation"></i>
                </span>
                <span class="tinytext">
                    <b>{{manutecao}} </b>
                    <span class="lightGray"> Manuteção </span>
                </span>
            </span>
            <span class="block">
                <span class="circle red">
                    <i class="bi bi-x"></i>
                </span>
                <span class="tinytext">
                    <b>{{desativado}}</b>
                    <span class="lightGray"> Desativado</span>
                </span>
            </span>
        </span>

    </div>

</div>

<div class="conteudoperfil">
    <div class="dataPerfil coluna">
        <span class="titulo mt-3">
            Usuário
        </span>

        <span class="fotoPerfil mt-3">
            <i class="bi bi-person-circle"></i>
        </span>
        <span>
            <ul class="detalhes">
                <li><i class="bi bi-person-circle"></i> <b class="darkGray"> Nome:</b> {{usuario}}</li>
                <li><i class="bi bi-envelope-at"></i><b class="darkGray"> Email:</b> {{email}}</li>
                <li><i class="bi bi-lock"></i><b class="darkGray"> Tipo de acesso:</b> {{acessos.toString()}}</li>
                <li></li>
            </ul>
        </span>

        <div class="d-grid gap-2 col-9 mx-auto mt-2">
            <hr>
            <button class="btn btn-primary custom-btn-size " type="button" (click)="openRedirect('home')"><i
                    class="bi bi-house"></i> Princípal</button>
                    <button class="btn btn-success custom-btn-size " type="button" (click)="openRedirect('sistemauserlist')"><i
                        class="bi bi-stack"></i> Sistemas</button>
                <button  class="btn btn-secondary custom-btn-size " type="button" (click)="openRedirect('usuario')" *ngIf="role==='ADMIN'"><i
                        class="bi bi-people"></i> Controle de usuários</button>
                <button class="btn btn-secondary custom-btn-size " type="button" (click)="openRedirect('sistema')" *ngIf="role==='ADMIN'"><i
                        class="bi bi-hdd-stack"></i> Controle de sistemas</button>
        </div>
    </div>
</div>