<div class="containerflex">
    <div class="column first-column">
        <div class="coluna">
            <img src="../../../assets/logo3.png" width="25" alt="" />
        </div>
    </div>
    <div class="second-column">
        <div class="conteudoTopo">
            <div class="conteudo">
                <h2>Sistemas Integrados</h2>
                <div class="menurapido">
                    <ul class="lista">
                        <li>Legendas Status:</li>
                        <li><span class="botao">Ativo <i class="bi bi-check2-circle verde"></i></span></li>
                        <li><span class="botao">Desativado <i class="bi bi-x-circle vermelho"></i></span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="listaUsuarios">
            <div class="items">
                <div class="listabotoes mt-3">
                    <button class="btn btn-primary btn-sm" type="button" (click)="openDialog()"><i
                            class="bi bi-plus-circle"></i> adicionar usuários</button>
                </div>
                <app-busca [functionFromParent]="busca" [placeholderText]="placeholderText"></app-busca>

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Login</th>
                            <th scope="col">Tipo de Usuário</th>
                            <th scope="col">Sistemas</th>
                            <th scope="col" class="text-center">Status</th>
                            <th scope="col" class="text-center">Editar</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let acesso of acessos">
                        <tr class="align-middle">
                            <th scope="row">{{acesso.usuario.nome}}</th>
                            <td>{{acesso.usuario.login}}</td>
                            <td>{{acesso.usuario.role}}</td>
                            <td>{{ extractSystemNames(acesso.sistema)}}</td>
                            <td class="text-center">{{acesso.usuario.status ? "Ativo":"Desativado"}}</td>
                            <td class="text-center" [width]="20"> <button class="btn btn-warning btn-sm" type="button"
                                    (click)="editar(acesso)"><i class="bi bi-pencil-square"></i> </button></td>
                        </tr>

                    </tbody>
                </table>
                <app-paginacao [functionFromParent]="paginacao" [last]="last" [first]="first"
                    [totalPages]="totalPages"  ></app-paginacao>
            </div>
        </div>
    </div>
    <div class=" third-column">
        <app-perfil></app-perfil>
    </div>