<div class="conteudoTopo">
    <div class="conteudo">
        <h2>Sistemas Integrados</h2>
        <div class="menurapido">
            <ul class="lista">
                <li>Legendas Status:</li>
                <li><span class="botao">Ativo <i class="bi bi-check2-circle verde"></i></span></li>
                <li><span class="botao">Desativado <i class="bi bi-x-circle vermelho"></i></span></li>
                <li><span class="botao">Permissões <i class="bi bi-lock laranja"></i></span></li>
                <li><span class="botao">Manuteção <i class="bi  bi-cone-striped laranja"></i></span></li>
                <li><span class="botao">Fora do Ar <i class="bi  bi-exclamation-circle vermelho"></i></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="listaSistemas mt-2">
    <div class="conteudoSistemas">
        <div class="itemSistema">
            <div class="iconLogo"> <img src="../../../assets/logo4.png" width="50" alt="" /></div>
            <div class="iconTexto">
                <span class="darkgray">Sistema 01</span>
                <span class="lightGray tinytext"><i class="bi bi-lock laranja"></i>Permissões:</span>
            </div>
            <div class="iconTexto">
                <span class="darkgray">Status</span>
                <span class="lightGray tinytext"><i class="bi bi-x-circle vermelho"></i> Desativado</span>
            </div>
            <div class="iconTexto">
                <span class="darkgray">Verão</span>
                <span class="lightGray tinytext"><i class="bi bi-git laranja"></i> 1.1</span>
            </div>
            <div class="iconTexto">
                <span class="darkgray">Última atualização</span>
                <span class="lightGray tinytext"><i class="bi  bi-clock verde"></i> 01/02/2023</span>
            </div>
            <div class="iconTexto">
                <button type="button" class="btn btn-primary btn-sm">Abrir sistema <i
                        class="bi bi-rocket-takeoff"></i></button>
            </div>
        </div>
    </div>

</div>