.card {
  margin-top: 100px;
}
.smaller-text {
  font-size: 12px; /* Ajuste o valor do tamanho da fonte conforme necessário */
}
.login-class {
  background-color: rgb(243, 243, 243);
  height: 100vh; /* Set the height to 100% of the viewport height */
  width: 100%; /* Set the width to 100% of the parent container */
}
